<?xml version="1.0"?>
<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>
  
  <arg name="hardware_interface" default="PositionJointInterface"/>
  <arg name="robot_name" default="iiwa"/>
  <arg name="model" default="iiwa7"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Loads the URDF with the given hardware interface and robot name into the ROS Parameter Server -->
  <group if="$(arg load_robot_description)">
    <include file="$(find iiwa_tool_description)/launch/$(arg model)_tool_upload.launch">
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
  </group>


</launch>
