<?xml version="1.0"?>
<launch>


    <!-- | 		参数  		| -->
    <!--是否使用仿真 -->
    <arg name="sim" default="true" doc="If true, the robot will be simulated in Gazebo" />
    <!-- 要使用的硬件接口 : PositionJointInterface, EffortJointInterface, VelocityJointInterface. -->
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <!-- 机器人名称-->
    <arg name="robot_name" default="iiwa"/>
    <!--要使用的模型: iiwa7, iiwa14 -->
    <arg name="model" default="iiwa7"/>
    <arg name="rviz" default="true" />

    <!-- 全局话题重映射 -->
    <remap from="/$(arg hardware_interface)_trajectory_controller/follow_joint_trajectory" to="/$(arg robot_name)/$(arg hardware_interface)_trajectory_controller/follow_joint_trajectory" />
    <remap from="robot_description" to="/$(arg robot_name)/robot_description" />
    <remap from="/get_planning_scene" to="/$(arg robot_name)/get_planning_scene" />

    <!--启动仿真-->
    <group if="$(arg sim)">
        <include file="$(find iiwa_gazebo)/launch/iiwa_gazebo.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)"/>
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="model" value="$(arg model)"/>
        </include>
    </group>

    <!-- 启动真实机器人 -->
    <group ns="$(arg robot_name)" unless="$(arg sim)">
        <!-- 加载控制器插件-->
        <include file="$(find iiwa_control)/launch/iiwa_control.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="controllers" value="joint_state_controller $(arg hardware_interface)_trajectory_controller" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="model" value="$(arg model)" />
        </include>

        <!-- 加载硬件接口 -->
        <include file="$(find iiwa_hw)/launch/iiwa_hw.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>
    </group>

    <group ns="$(arg robot_name)">
        <!-- 加载moveit (里面包含了加载URDF和SDF)-->
        <include file="$(find iiwa_moveit)/launch/move_group.launch">
            <arg name="publish_monitored_planning_scene" value="true" />
            <arg name="hardware_interface" value="$(arg hardware_interface)"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="model" value="$(arg model)" />
        </include>
        <!-- 加载rivz -->
        <include if="$(arg rviz)" file="$(find iiwa_moveit)/launch/moveit_rviz.launch">
            <arg name="config" value="true"/>
        </include>
    </group>

</launch>
