<?xml version="1.0"?>
<launch>

  <!-- 启动虚假机器人控制器，用于仿真 -->
  <include file="$(find iiwa_tool_moveit)/launch/demo.launch">
    <arg name="hardware_interface" value="PositionJointInterface"/>
    <arg name="model" value="iiwa7"/>
  </include>


  <!-- 启动6维拖拉球  参数：生成frame的名称-->
  <include file="$(find rviz_visual_tool_examples)/launch/imaker.launch">
    <arg name="link_name" default="rotation_link"/>
  </include>


  <!-- 启动旋转控制节点 -->
  <remap from="/iiwa/command_rotation_moveit/rviz_visual_tools_gui" to="/rviz_visual_tools_gui" />
  <node ns="iiwa" name="command_rotation_moveit" pkg="my_iiwa_examples" type="command_rotation_moveit" respawn="false" output="screen">
    <param name="absolute_rotaion_max_range" type="double" value="0.52" />
    <param name="waitting_for_hw" type="bool"  value = "false"/>
    <param name="velocity" type="double"  value = "0.5"/>
    <param name="acceleration" type="double"  value = "1"/>
  </node>



  <!-- 示教 -->
  <node ns="iiwa" name="teaching_robot_with_moveit" pkg="my_iiwa_examples" type="teaching_robot_with_moveit" respawn="false" output="screen">
    <param name="test" type="bool" value="true"/>
  </node>


</launch>