<?xml version="1.0"?>
<launch>
  <!-- 参数设置 -->
  <arg name="minTrajExecTime" value="0.1"/>
  <arg name="smart_velocity" value="0.2"/>
  <arg name="smart_acceleration" value="1.0"/>
  <arg name="smart_override_acceleration" value="1.0"/>
  <!-- +++++++++++++++++++++++++-->

  <!-- 不允许kuka发送joint state消息，使用ros端的joint state controller -->
  <param name="/iiwa/publishJointStates" type="boolean" value="true" />
  <!-- +++++++++++++++++++++++++-->

  <!-- 参数服务器只能调节速度和加速度，如果需要调节override acceleration 则需要调用服务 -->
  <param name="/iiwa/SmartServo/minTrajExecTime" type="double" value="$(arg minTrajExecTime)" />
  <param name="/iiwa/SmartServo/relativeJointSpeed" type="double" value="$(arg smart_velocity)" />
  <param name="/iiwa/SmartServo/relativeJointAcceleration" type="double" value="$(arg smart_acceleration)" />
  <!-- +++++++++++++++++++++++++-->

  <!-- 设置工具，以及默认运动frame -->
  <param name="/iiwa/toolName" type="string" value="tool" />
  <!-- +++++++++++++++++++++++++-->

  <!-- 启动虚假机器人控制器，用于仿真 -->
  <include file="$(find iiwa_tool_moveit)/launch/demo.launch">
    <arg name="hardware_interface" value="PositionJointInterface"/>
    <arg name="model" value="iiwa7"/>
    <arg name="joints_state_source" value="/iiwa/my_joint_states"/>
    <arg name="is_open_joint_state_publisher" value="true"/>
  </include>
  <!-- +++++++++++++++++++++++++-->


</launch>